<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">

<head>
   <link rel="icon" href="{% static 'charts/img/faviconEnedino.svg'%}">
   <title>Robinson Enedino | API Cotações</title>


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>

<body>
   {% include 'charts/partials/_nav.html' %}

   {% block content %}

   {% endblock %}
   




   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>

   {% include 'charts/partials/_footer.html' %}

</body>
</html>
